html {
    margin: 0; 
    padding: 0; 
    border: 0; 
    color:#565656;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0; 
    border: 0; 
    background-color: #efefef;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}



.hidden{
    display: none;
}

.visible{
    display: block;
}


/**********HEADER**********/
h1 {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#heading {
    margin: 0;
    text-align: center;
    background-color: white;
    padding-bottom: 5px;
}

.header_button {
    border-radius: 10px;
    display: inline-block;
    border: none;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: white;
    color: #565656;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 300ms ease-in-out, 
                transform 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.header_button:hover {
    background: #eeeeee;
}

.header_button:focus {
    outline-offset: -4px;
}

.header_button:active {
    transform: scale(0.98);
}




h2 {
    margin-bottom: 10px;
}



#stats_div {
    text-align: center;
}

#stats_container {
    display: flex;
    width: 70%;
    margin: auto;
}

.body_div {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #dddddd;
}

.inner_stats_div {
    width: 50%;
}

#games_played {
    margin-bottom: 10px;
}

#player_choice_select {
    margin-top: 10px;
}

#name_textfield {
    margin-top: 10px;
}

#play_again_button {
    margin-top: 10px;
}


.results_img {
    width: 30%;
}

#rules_list_div {
    width: 60%;
    margin: auto;
    text-align: left;
}